<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>BehindTheNumbers</display-name>
  <welcome-file-list>
    <welcome-file>PovertyCreate.jsp</welcome-file>
  </welcome-file-list>
  <!--
  <servlet>
    <servlet-name>PovertyCreate</servlet-name>
    <servlet-class>BehindTheNumbers.servlet.PovertyCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PovertyCreate</servlet-name>
    <url-pattern>/povertycreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PovertyUpdate</servlet-name>
    <servlet-class>BehindTheNumbers.servlet.PovertyUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PovertyUpdate</servlet-name>
    <url-pattern>/povertyupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PovertyRead</servlet-name>
    <servlet-class>BehindTheNumbers.servlet.PovertyRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PovertyRead</servlet-name>
    <url-pattern>/povertyread</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PovertyDelete</servlet-name>
    <servlet-class>BehindTheNumbers.servlet.PovertyDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PovertyDelete</servlet-name>
    <url-pattern>/povertydelete</url-pattern>
  </servlet-mapping>
  -->
</web-app>
